<ion-card>
  <ion-card-title>{{title}}</ion-card-title>
  <ion-list>
    <div *ngFor="let item of list; let i=index">
      <ion-item *ngIf="type==='event' || type==='org'" style="margin-block: 0.5rem;">
        <ion-thumbnail style="background: lightgray; --size: 3rem">
          <ion-label style="text-align: center; font-size: 20px;">{{i+1}}</ion-label>
        </ion-thumbnail>
        <div style="display: flex; flex-direction: column;">
          <ion-title>{{item.title}}</ion-title>
          <div style="display: flex; margin: 0.3rem 0 0 0.6rem; padding: 3px;" *ngIf="type==='event'">
            <ion-icon name="location-outline" color="black" style="font-size: 22px;"></ion-icon>
            <ion-label>{{item.location}}</ion-label>
          </div>
          <div style="display: flex; margin: 0 0 0.8rem 0.8rem; padding: 3px;" *ngIf="type==='event'">
            <div style="display: flex; justify-content: center;">
              <div *ngFor="let rate of [0,1,2,3]; let i = index">
                <ion-icon name="star" style="color: green; font-size: 24px;"></ion-icon>
              </div>
              <div>
                <ion-icon name="star-outline" style="color: black; font-size: 24px;"></ion-icon>
              </div>
            </div>
            <ion-label>({{item.rating}})</ion-label>
          </div>
          <div style="display: flex; margin: 0 0 0.8rem 0.8rem; padding: 3px;" *ngIf="type==='org'">
            <ion-label>{{item.type}}</ion-label>
          </div>
        </div>
      </ion-item>

      <ion-card *ngIf="type=='youth'" class="youthCard card{{i}}">
        <ion-card-content [ngStyle]="{'background': item.bgColor}">
          <ion-card-title [ngStyle]="{'color': item.textColor}">{{item.count}}</ion-card-title>
          <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
</ion-card>