<ion-card>
  <ion-card-content class="elp-content">
    <ion-col [size]="type==='elp' ? 3 : 3.5">
      <div class="elp-main">
        <div>
          <ion-card-title>{{title}}</ion-card-title>
        </div>
        <div class="circular-view">
          <ion-label style="font-size: 18px; padding-inline: 1rem; line-height: 1.1;">{{label}}</ion-label>
          <ion-label style="font-size: 24px; font-weight: 500;">{{count}}</ion-label>
        </div>
      </div>
    </ion-col>
    <ion-col [size]="type==='elp' ? 6 : 8.5">
      <div>
        <ion-row style="margin-inline: 0.8rem;">
          <ion-col class="col-bottom" [size]="type==='mbo' ? 3 : 4" *ngFor="let elp of list">
            <ion-card style="margin: 0.4rem;">
              <ion-card-content>
                <ion-card-subtitle>{{elp.label}}</ion-card-subtitle>
                <ion-card-title>{{elp.count}}</ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- only for VO section -->
        <ion-row *ngIf="type==='vo'" style="margin-inline: 0.8rem;">
          <ion-card-title>Volunteer Opportunities Participants</ion-card-title>
          <ion-list class="horizontal-list">
            <ion-item [ngStyle]="{'--inner-border-width': (i != list.length) ? '0 1px 0 0' : '0px'}" *ngFor="let ev of eventsDetails; let i = index">
              <ion-col style="display: flex; flex-direction: column; align-items: center">
                <ion-label>{{ev.label}}</ion-label>
                <ion-title>{{ev.count}}</ion-title>
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-row>
        <ion-row  *ngIf="type==='vo'" style="margin-inline: 0.8rem;">
          <ion-list class="horizontal-list" style="margin-top: 1rem;">
            <ion-item>
              <div>
                <ion-card-subtitle>Images</ion-card-subtitle>
                <ion-row>
                  <ion-col class="flex-column">
                    <ion-label>Uploaded</ion-label>
                    <ion-label sty>54764</ion-label>
                  </ion-col>
                  <ion-col style="display: flex; flex-direction: column; align-items: center">
                    <ion-label>Approved</ion-label>
                    <ion-label>54764</ion-label>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            <ion-item lines="none" style="--inner-border-width: 0px">
              <div>
                <ion-card-subtitle>Videos</ion-card-subtitle>
                <ion-row>
                  <ion-col style="display: flex; flex-direction: column">
                    <ion-label>Uploaded</ion-label>
                    <ion-label>54764</ion-label>
                  </ion-col>
                  <ion-col style="display: flex; flex-direction: column">
                    <ion-label>Approved</ion-label>
                    <ion-label>54764</ion-label>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ion-list>
        </ion-row>
        <!-- Only for MBO section -->
        <ion-row  *ngIf="type==='mbo'" style="margin-inline: 0.8rem;">
          <ion-col size="4" *ngFor="let elp of [0,1,2,3,4,5,6]" style="display: flex;">
           <ion-avatar style="background: orange; display: flex; justify-content: center; align-items: center;">
             <ion-icon name="home" style="color: black; font-size: 18px;"></ion-icon>
           </ion-avatar>
           <div>
             <ion-label>States Registered</ion-label>
             <ion-title>18</ion-title>
           </div>
          </ion-col>
         </ion-row>
      </div>        
    </ion-col>
    <ion-col size="3" *ngIf="type === 'elp'">
      <div class="elp-progress">
        <ion-card-title>Program Completion Rate</ion-card-title>
        <circle-progress
          [showTitle]="true"
          [percent]="92"
          [radius]="100"
          [clockwise]="false"
          [showInnerStroke]="false"
          [outerStrokeWidth]="30"
          [showBackground]="true"
          [outerStrokeColor]="'#8C83EA'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
    </ion-col>
  </ion-card-content>
</ion-card>