<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>create-org</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-img src="assets/images/bg_org.png"></ion-img>
    <ion-thumbnail style="border-radius: 50%; background-color: darkblue; align-items: center; display: flex; justify-content: center; position: absolute; top: 7rem; z-index: 99; right: 4rem;">
      <ion-icon style="color: white;" name="camera-outline" (click)="changeImage($event)"></ion-icon>
    </ion-thumbnail>
  </div>
  <div class="main-content">
    <div style="margin-inline: 4rem;">
      <ion-button fill="clear">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Go back
      </ion-button>
    </div>
    <div style="width: 100%;">
      <div style="margin-left: 2rem; margin-bottom: 2rem; margin-top: -8rem; display: flex;">
        <ion-thumbnail style="--size: 10rem;">
          <img alt="Silhouette of mountains" src="assets/images/icon_org.png" />
        </ion-thumbnail>
        <ion-thumbnail style="border-radius: 50%; background-color: darkblue; align-items: center; display: flex; justify-content: center; position: relative; z-index: 99; top: -1rem; left: -1rem; --size: 2.5rem;">
          <ion-icon style="color: white;" name="camera-outline" (click)="changeImage($event)" ></ion-icon>
        </ion-thumbnail>
        <ion-title style="align-items: end; font-size: 34px;">Police</ion-title>
      </div>
      <div style="width: 90%;" *ngIf="!preview">
        <ion-segment [(ngModel)]="segment">
          <ion-segment-button value="{{seg.value}}" *ngFor="let seg of segments">
            <ion-label>{{seg.name}}</ion-label>
          </ion-segment-button>  
        </ion-segment>
        <div class="content flex-row" [ngSwitch]="segment">
          <!-- dashboard switch -->
          <div *ngSwitchCase="'about'" style="display: flex; flex-direction: column;">
            <div style="border: 1px solid lightgrey; margin: 2rem; width: 90%;">
              <div style="margin: 2rem;">
                <ion-title style="margin-bottom: 2rem;">About</ion-title>
                <ion-label style="margin-left: 1rem;">About</ion-label>
                <ion-textarea style="margin: 1rem;" label="" fill="outline" [counter]="true" [autoGrow]="true" maxlength="1000"></ion-textarea>
              </div>
            </div>
            <div style="display: flex; margin: 2rem; width: 90%; justify-content: end;">
              <ion-button color="danger" fill="outline" slot="end" style="margin-right: 2rem;">Save Draft</ion-button>
              <ion-button color="danger" slot="end" type="submit" (click)="segment = 'basic_info'">Next</ion-button>
            </div>
          </div>
    
          <div *ngSwitchCase="'basic_info'">
            <div>
              <Form style="width: 90%;">
                <div style="border: 1px solid lightgrey; margin: 2rem; border-radius: 10px;">
                  <ion-item lines="none" style="margin-top: 1rem;">
                    <ion-title>Organization Structure</ion-title>
                  </ion-item>
                  <ion-row style="margin: 2rem;">
                    <ion-col *ngFor="let field of items" size="6">
                      <div style="margin-right: 2rem; margin-bottom: 1rem;">
                        <ion-label style="margin-bottom: 1rem;">{{field.label}}<span *ngIf="field.required" style="color: red;">*</span></ion-label>
                        <ion-input *ngIf="field.type !== 'select'" fill="outline" [type]="field.type" [placeholder]="field.placeholder" style="margin-top: 1rem;"></ion-input>
                        <ion-select *ngIf="field.type == 'select'" fill="outline" labelPlacement="stacked" interface="popover" style="margin-top: 1rem;">
                          <ion-select-option *ngFor="let opt of field.options" [value]="opt">{{opt}}</ion-select-option>
                        </ion-select>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
        
                <div style="border: 1px solid lightgrey; margin: 2rem; border-radius: 10px;">
                  <ion-item lines="none" style="margin-top: 1rem;">
                    <ion-title>Organization Address</ion-title>
                  </ion-item>
                  <ion-row style="margin: 2rem;">
                    <ion-col *ngFor="let field of officalAdd" size="6">
                      <div style="margin-right: 2rem; margin-bottom: 1rem;">
                        <ion-label style="margin-bottom: 1rem;">{{field.label}}<span *ngIf="field.required" style="color: red;">*</span></ion-label>
                        <ion-input *ngIf="field.type !== 'select' && field.type !== 'radio'" fill="outline" [type]="field.type" [placeholder]="field.placeholder" style="margin-top: 1rem;"></ion-input>
                        <ion-select *ngIf="field.type == 'select'" fill="outline" labelPlacement="stacked" interface="popover" style="margin-top: 1rem;">
                          <ion-select-option *ngFor="let opt of field.options" [value]="opt">{{opt}}</ion-select-option>
                        </ion-select>
                        <ion-item lines="none" *ngIf="field.type == 'radio'">
                          <ion-radio-group [allowEmptySelection]="true" value="turtles" style="display: flex;">
                            <ion-radio style="margin-right: 1rem;" *ngFor="let opt of field.options" [value]="opt">{{opt}}</ion-radio><br />
                          </ion-radio-group>
                        </ion-item>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
                <div style="border: 1px solid lightgrey; margin: 2rem; border-radius: 10px;">
                  <ion-item lines="none" style="margin-top: 1rem;">
                    <ion-title>Contact Details(for display on home page)</ion-title>
                  </ion-item>
                  <ion-row style="margin: 2rem;">
                    <ion-col *ngFor="let field of contactInfo" size="6">
                      <div style="margin-right: 2rem; margin-bottom: 1rem;">
                        <ion-label style="margin-bottom: 1rem;">{{field.label}}<span *ngIf="field.required" style="color: red;">*</span></ion-label>
                        <ion-input *ngIf="field.type !== 'select'" fill="outline" [type]="field.type" [placeholder]="field.placeholder" style="margin-top: 1rem;"></ion-input>
                        <ion-select *ngIf="field.type == 'select'" fill="outline" labelPlacement="stacked" interface="popover" style="margin-top: 1rem;">
                          <ion-select-option *ngFor="let opt of field.options" [value]="opt">{{opt}}</ion-select-option>
                        </ion-select>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
                <div style="border: 1px solid lightgrey; margin: 2rem; border-radius: 10px;">
                  <ion-item lines="none" style="margin-top: 1rem;">
                    <ion-title>Upload Authorized and Signatory Documents</ion-title>
                  </ion-item>
                  <ion-label style="margin: 2rem;">Upload</ion-label>
                  <div style="border: 1px solid grey; margin: 2rem; width: 40%; height: 3rem; justify-content: end; display: flex; align-items: center;">
                    <input type="file" id="fileInput" hidden (change)="onFileSelected($event)" [value]="selectedFile">
                    <ion-icon name="cloud-upload-outline" (click)="triggerFileInput()" style="font-size: 26px; margin-inline: 1rem;"></ion-icon>
                  </div>
                  <div style="background: rgb(242, 174, 174); border: 1px solid rgb(242, 174, 174); height: 200px; margin: 2rem;">

                  </div>
                </div>

                <div style="float: right; margin: 2rem;">
                  <ion-button color="danger" fill="outline" slot="end" style="margin-right: 2rem;">Save Draft</ion-button>
                  <ion-button color="danger" slot="end" type="submit" (click)="preview=true">Next</ion-button>
                </div>
              </Form>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 90%;" *ngIf="preview">
        <app-preview></app-preview>
      </div>
    </div>

  </div>
</ion-content>
