<!-- <ion-split-pane when="xs" contentId="main"> -->
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <ion-list *ngFor="let item of items">
        <ion-item (click)="navigateToDashboardPage(item)">{{item.name}}</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page">
    <ion-header>
      <ion-toolbar>
        <ion-title>Main View</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Main View Content </ion-content>
    <ion-router-outlet main id="main"></ion-router-outlet>
  </div>
<!-- </ion-split-pane> -->